:root {
  --md-primary-fg-color: #307fe2;
}

.md-typeset .admonition,
.md-typeset details {
  border-width: 1px;
  border-radius: 6px;
  padding-bottom: 0px;
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 0px;
}

.md-grid {
  max-width: 100%; /* or 100%, if you want to stretch to full-width */
}
.md-main__inner {
  max-width: none;
}
.md-sidebar--primary {
  left: 0;
}
.md-sidebar--secondary {
  right: 0;
  margin-left: 0;
  -webkit-transform: none;
  transform: none;
}
.md-typeset .admonition.note > p::before {
  color: #307fe2;
  content: 'Note: ';
}

.md-typeset .admonition.note > .admonition-title {
  display: none;
  background-color: #ffffff !important;
}

.md-typeset .admonition.example > .admonition-title {
  display: block;
  color: #00a385;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff;
  width: 30%;
  padding-right: 10px;
}
.md-typeset .admonition-title::before,
.md-typeset summary::before {
  display: none;
}

.md-typeset h1 {
  font-size: 40px;
  color: black;
}

.md-typeset p {
  font-size: 14px;
  color: black;
}

.md-typeset .admonition.example,
.md-typeset details.example {
  border-color: rgb(43, 155, 70);
}
.md-typeset .example > .admonition-title,
.md-typeset .example > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .example > .admonition-title::before,
.md-typeset .example > summary::before {
  background-color: rgb(43, 155, 70);
}

/* Style for Modal */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: -300;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
@media (min-width: 610px) {
  .modal-content {
    position: relative;
    background-color: #fefefe;
    top: -170px;
    height: 90vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 55%; /* Could be more or less, depending on screen size */
    text-align: center;
  }
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  .modal-content {
    width: 90%; /* Could be more or less, depending on screen size */
    background-color: #fefefe;
    top: -190px;
    height: 95vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    text-align: center;
  }
}

.modal-content h2 {
  font-size: 36px;
  font-family: Poppins;
  font-weight: bold;
  color: black;
  line-height: 1.1111111111;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

div.pied {
  text-align: right;
}

div.rideau {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

a.button-style {
  display: inline-block;
  padding: 0 15px !important;
  line-height: 52px;
  background-color: rgb(48, 127, 226);
  font-family: Poppins;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 30px; /* This creates the rounded corners */
  padding-inline: 6px;
}

/* Optional: Add a hover effect */
a.button-style:hover {
  background-position: 100% 25%, 100% 100%;
  background-color: rgb(54, 132, 226);
  color: white !important;
}

.banner {
  height: 40px; /* Height of the banner */
  padding-top: 7px;
  position: sticky; /* Follows as you scroll */
  top: 0; /* Absolute top of page */
  left: 0;
  width: 100%;
  z-index: 1; /* Tells the renderer "this is important", otherwise Admonition and Code Blocks will render into it */
  text-align: center;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(46, 158, 123);
}

.md-header {
  top: 40px; /* This setting prevents the Material header from imposing into the space of the banner! */
}
