:root {
  --md-primary-fg-color: #307fe2;
}

.md-typeset .admonition,
.md-typeset details {
  border-width: 1px;
  border-radius: 6px;
  padding-bottom: 0px;
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 0px;
}

.md-grid {
  max-width: 100%; /* or 100%, if you want to stretch to full-width */
}
.md-main__inner {
  max-width: none;
}
.md-sidebar--primary {
  left: 0;
}
.md-sidebar--secondary {
  right: 0;
  margin-left: 0;
  -webkit-transform: none;
  transform: none;
}
.md-typeset .admonition.note > p::before {
  color: #307fe2;
  content: 'Note: ';
}

.md-typeset .admonition.note > .admonition-title {
  display: none;
  background-color: #ffffff !important;
}

.md-typeset .admonition.example > .admonition-title {
  display: block;
  color: #00a385;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff;
  width: 30%;
  padding-right: 10px;
}
.md-typeset .admonition-title::before,
.md-typeset summary::before {
  display: none;
}

.md-typeset h1 {
  font-size: 40px;
  color: black;
}

.md-typeset p {
  font-size: 14px;
  color: black;
}

.md-typeset .admonition.example,
.md-typeset details.example {
  border-color: rgb(43, 155, 70);
}
.md-typeset .example > .admonition-title,
.md-typeset .example > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .example > .admonition-title::before,
.md-typeset .example > summary::before {
  background-color: rgb(43, 155, 70);
}

/* Style for Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a.button-style {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 15px; /* This creates the rounded corners */
  font-weight: bold;
}

/* Optional: Add a hover effect */
a.button-style:hover {
  background-color: darkblue;
}

.banner {
  height: 40px; /* Height of the banner */
  padding-top: 7px;
  position: sticky; /* Follows as you scroll */
  top: 0; /* Absolute top of page */
  left: 0;
  width: 100%;
  z-index: 1; /* Tells the renderer "this is important", otherwise Admonition and Code Blocks will render into it */
  text-align: center;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(46, 158, 123);
}

.md-header {
  top: 30px; /* This setting prevents the Material header from imposing into the space of the banner! */
}
